extends baseEmail

block content
  p Salut, #{firstName}!
  p Ai cerut resetarea parolei. Apasă butonul de mai jos pentru a continua:
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0', style='margin: 1.5rem 0;')
    tbody
      tr
        td(align='center')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Resetează parola
  p Dacă butonul de mai sus nu funcționează, poți copia și deschide manual următorul link în browser:
  p
    a(href='#{url}' style='color: #f97316; word-break: break-word;') #{url}
  p Acest link este valabil timp de 10 minute.
  p Dacă nu ai cerut această resetare, poți ignora acest email.
