footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='HikeAway logo')
    ul.footer__nav
        li: a(href='/about') Despre noi
        li: a(href='/contact') Contact
        li: a(href='/become-guide') Devino ghid
    p.footer__copyright &copy; HikeAway