extends base


block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Resetare parolă
            form.form.form--forgotPassword
                .form__group
                    label.form__label(for='email') Adresa de email
                    input#email.form__input(type='email', placeholder='tu@exemplu.com', required)
                .form__group
                    p(style='font-size: 1.5rem; margin-bottom: 2.5rem; color: #777') Veți primi un link de resetare a parolei pe adresa de email.
                    button.btn.btn--green Trimite Link
