extends base


block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Autentifică-te în contul tău
            form.form.form--login
                .form__group
                    label.form__label(for='email') Adresa de email
                    input#email.form__input(type='email', placeholder='tu@exemplu.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Parolă
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    a(href='/forgot-password' class='btn-text', style='margin-left: 1rem') Ai uitat parola?
                .form__group
                    button.btn.btn--green Autentificare
