extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Resetare parolă
      form.form.form--resetPassword(id='form-reset')
        .form__group
          label.form__label(for='newPassword') Parolă nouă
          input#newPassword.form__input(type='password', name='password', required)
        .form__group
          label.form__label(for='newPasswordConfirm') Confirmare parolă
          input#newPasswordConfirm.form__input(type='password', name='passwordConfirm', required)
        .form__group
          button.btn.btn--green(type='submit') Resetează parola
